[Unit]
Description=AceStream Engine
After=network.target

[Service]
Type=simple
#PIDFile=/work/www/myunit/shared/tmp/pids/service.pid
#WorkingDirectory=/opt/acestream
Environment="PYTHON_EGG_CACHE=/opt/acestream/.eggcache"

User=acestream
Group=acestream

ExecStart=/opt/acestream/start-service
#ExecStop=/usr/local/bin/bundle exec service -S /work/www/myunit/shared/tmp/pids/service.state stop
#ExecReload=/usr/local/bin/bundle exec service -S /work/www/myunit/shared/tmp/pids/service.state restart
#TimeoutSec=300

[Install]
WantedBy=multi-user.target 