[Unit]
Description=AceStream Engine
After=network.target

[Service]
Type=simple
Environment="PYTHON_EGG_CACHE=/opt/acestream/.eggcache"

User=acestream
Group=acestream

ExecStart=/opt/acestream/start-service

[Install]
WantedBy=multi-user.target 